@import "./reset.css";

html {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  padding-top: 30px;
}

.nav {
  padding-top: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__menu button {
  padding: 5px 8px;
}

.nav__completed {
  border-right: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
}

.active {
  font-weight: 700;
}

.tasks {
  height: 400px;
  overflow: auto;
}

.task {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d4d4d4;
  padding: 15px 5px;
}

.task__info {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
  color: #a0a0a0;
  font-size: 14px;
}

.task__title,
.task__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__progress {
  padding: 0 16px;
}

.task__progress img {
  width: 26px;
}

.task__edit {
  padding: 0 16px;
}

.task__todo {
  color: black;
  font-weight: 600;
}

.add-task-btn {
  margin-top: 25px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.add-task-btn img {
  width: 18px;
  filter: brightness(0) saturate(100%) invert(28%) sepia(98%) saturate(6765%) hue-rotate(355deg) brightness(97%) contrast(123%);
}

.add-task-info-wrap {
  display: none;
}

.add-task-info {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
}

.add-task-info__title {
  width: 100%;
  font-weight: 700;
}

.add-task-info__about {
  margin-top: 14px;
  width: 100%;
}

.add-task-info__bot {
  display: flex;
  justify-content: space-between;
}

.add-task-info__bot {
  margin-top: 30px;
}

.add-task-info__category {
  border: 1px solid #48a13a;
  text-align: center;
  color: #48a13a;
  border-radius: 5px;
  padding: 5px 8px;
  width: 100px;
}

.add-task-info__category::placeholder {
  color: #48a13a;
}

.add-task-do-btn {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  gap: 14px;
}

.add-task-do-btn button {
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 15px;
}

.add-task-do-btn__cancel-btn {
  background-color: #d4d4d4;
}

.add-task-do-btn__add-btn {
  color: #e8e8e8;
  background-color: #d45050;
}

.add-task-do-btn__add-btn:disabled {
  color: #000;
  background-color: #d4d4d4;
}
